{% extends "base.html" %}
{% import "/macros/forms.html" as f %}
{% import "/macros/elements.html" as e %}

{% block head %}
<title>Bullish</title>
{% endblock %}
{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-20 w-auto" src="{{static('images/bull.gif')}}" alt="Bullish">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" method="POST">
      {{ csrf_input }}
      <div>
        <label for="id_email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="id_email" type="email" name="username" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-gray-900 hover:text-gray-700">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="id_email" type="email" name="username" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        </div>
        {% if form.errors %}
        <p class="text-red-500 text-xs">Invalid email or password.</p>
        {% endif %}
      </div>
      <div>
       {{e.button_primary('submit', 'Sign in')}}
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="/accounts/register" class="font-semibold leading-6 text-gray-900 hover:text-gray-700">Register</a>
    </p>
  </div>
</div>
{% endblock %}
